<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="static/style.css">
    <title>Alunni</title>
</head>
<body>
    <h1>Tabella Dinamica Alunni</h1>
    <h4>da Giovanni Ancora</h4>
    <table>
        <thead>
            <tr>
                {% for campo in campi%}
                <th>{{campo[0]}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for alunno in alunni %}
            <tr>
                <td>{{alunno[0]}}</td>
                <td>{{alunno[1]}}</td>
                <td>{{alunno[2]}}</td>
                <td><a href="{{url_for('voti', studente=alunno[3])}}">{{ alunno[3] }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>